@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Patrick+Hand&display=swap');
.note{
border-color: black;
border-width: 0.2em;
background-color: khaki;
padding: .8em;
font-family: 'Grechen Fuemen', cursive;
font-size: 20px;
margin:.3em;
box-shadow: 10px 10px grey;
cursor: grab;
width: 12em;
height: 12em;
overflow: auto;
text-align: center;
}
body{
background-color: lightgrey;
}
.btn{
    padding:.5em;
    background-color:white;
    border-radius: 5%;
    font-family: 'Grechen Fuemen', cursive;
    font-size: 20px;
    border-color: #1C6EA4;
    color:#1C6EA4;
}
.btn:hover{
  color:white;
  background-color: #1C6EA4;
}
.hiding{
    font-family: 'Grechen Fuemen', cursive;
    font-size: 20px;
    margin:.3em;
    padding-right: 0;
    text-align: center;
    padding: .8em;
}
.flexWrap {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .flexCol {
    box-sizing: border-box;
    width: 20%;
  }
  .note:hover {
    transform: scale(1.1);
    box-shadow: none;
    border: 5px solid #1C6EA4;
  }
.postit{
  width: 100%;
}
textarea{
  border-radius: .5em;
  width: 40%;
  padding: 1%;
  font-size: 20px;
  font-family: 'Grechen Fuemen', cursive;
}
textarea:focus{
  border: 5px solid #1C6EA4
}

